body {
    margin: 0;
}
.cms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--cms-container-color);
}
.app-container {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 30px);
    height: calc(100vh - 20px);
    border-radius: 10px;
    background-color: var(--app-container-color);
    box-shadow: 0 8px 32px var(--app-container-glow-color),
                0 8px 32px var(--app-container-glow-color);
}
.last-time {
    font-size: 13px;
    color: var(--text-secondary);
    margin-right: 20px;
    animation: fadeIn 0.5s ease-in;
}
.logout-icon{
    font-size: 25px;
    color: var(--text-secondary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.logout-icon:hover{
    font-size: 27px;
    color: var(--delete-button-hover);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.cms-header {
    display: flex;
    align-items: center;
    background-color: var(--layout-color);
    color: var(--text-secondary);
    padding-left: 6%;
    padding-right: 3%;
    margin-left: 1px;
    height: 50px;
    border-radius: 0px 10px 0px 0px;
    box-shadow: 1px 2px 5px var(--shadow-primary);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1px;
    background-color: var(--cms-container-color);
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.page-enter {
    opacity: 0;
}
.page-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.app-sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 60px;
    background-color: var(--layout-color);
    border-radius: 10px 0px 0px 15px;
    box-shadow: 1px 0px 1px var(--shadow-secondary);
    transition: all 0.3s ease-in-out, background-color 0.001s ease;
    overflow-y: auto;
}
.app-sidebar-close {
    display: flex;
    flex-direction: column;
    width: 60px;
    background-color: var(--layout-color);
    border-radius: 10px 0px 0px 15px;
    box-shadow: 1px 0px 1px var(--shadow-secondary);
    transition: all 0.3s ease-in-out, background-color 0.001s ease;
    overflow-y: auto;
}

.content-area {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.2s ease-in-out;
    overflow: auto;
    height: 90%;
}

.logo-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 111px;
}
.logo-sidebar-close{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 111px;
    transition: all 0.3s ease-in-out;
}
.logo-sidebar-img{
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, var(--logo-gradient-start) 0%, var(--logo-gradient-end) 100%);
}

.logo-sidebar-close img{
    width: 35px;
    height: 35px;
}
.logo-sidebar img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px var(--logo-glow));
}
.logo-sidebar-close img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px var(--logo-glow));
}
.sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
}

.sidebar-menu:hover .sidebar-link:not(:hover) {
    opacity: 0.7;
    transform: scale(0.95);
    transition: all 0.2s ease;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: var(--text-secondary);
    text-decoration: none;
    transition: all 0.2s ease;
    border-left: 3px solid transparent;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.sidebar-link.active {
    background: linear-gradient(90deg, var(--bg-active-gradient-start) 0%, var(--bg-active-gradient-end) 80%);
    color: var(--text-active);
    border-left: 3px solid var(--border-active);
}

.sidebar-link:hover:not(.active) {
    background-color: var(--bg-hover);
    color: var(--text-hover);
    transition: all 0.2s ease-in-out;
}
.sidebar-link.active:hover {
    background-color: var(--bg-hover);
    color: var(--text-active);
    transition: all 0.2s ease-in-out;
}

.sidebar-icon{
    margin-right: 15px;
}
.sidebar-item{
    animation: fadeIn 1.0s ease-in-out;
}


.sidebar-menu::-webkit-scrollbar {
    width: 6px;
}

.sidebar-menu::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

.sidebar-menu::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}
.sidebar-text {
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.2s ease;
}
.sidebar-link:hover {
    font-size: 1.3rem;
}
.sidebar-footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(162, 158, 158, 0.253);
    margin-top: auto;
    padding-top: 16px;
    margin-bottom: 20px;
}
.about-link {
    padding-top: 30px;
    padding-bottom: 30px;
}

