body {
  margin: 0;
  font-family: sans-serif;
}
.cms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #EEF7FD;
  
}
.app-container {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 30px);
  height: calc(100vh - 20px);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.3),
                0 8px 32px rgba(31, 38, 135, 0.3);
}

.cms-header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #6c757d;
  padding-left: 20px;
  margin-left: 1px;
  height: 50px;
  border-radius:  0px 10px 0px 0px;
  box-shadow: 1px 2px 5px rgba(43, 84, 88, 0.1);
  
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1px;
  background-color: #ebf4fbdc;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.app-sidebar {
  width: 15%;
  min-width: 60px;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 15px;
  box-shadow: 1px 0px 1px rgba(43, 84, 88, 0.3);
  transition: all 0.3s ease-in-out;
}
.app-sidebar-close {
  width: 60px;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 15px;
  box-shadow: 1px 0px 1px rgba(43, 84, 88, 0.3);
  transition: all 0.3s ease-in-out;
}

.content-area {
  display: flex;
  flex-direction: column;
  padding: 3% 3% 1% 4%;
  animation: fadeIn 0.5s ease-in-out;
  overflow: auto;
  height: 90%;
}


.logo-sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 111px;
}
.logo-sidebar-close{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 111px;
  transition: all 0.3s ease-in-out;
}
.logo-sidebar-img{
  padding: 10px;
  border-radius: 10px;
  width: 60px;
  height: 6   0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logo-sidebar-close img{
  width: 35px;
  height: 35px;
}
.logo-sidebar img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(0, 234, 255, 0.8));
}
.logo-sidebar-close img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(0, 234, 255, 0.8));
}
.sidebar-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-item {
}

.sidebar-menu:hover .sidebar-link:not(:hover) {
  opacity: 0.7;
  transform: scale(0.95);
  transition: all 0.2s ease;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #6c757d;
  text-decoration: none;
  transition: all 0.2s ease;
  border-left: 3px solid transparent;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  
}

.sidebar-link.active {
  background: linear-gradient(90deg, #74dffc68 0%, #d3f2fe41 80%);
  color: #427ca8;
  border-left: 3px solid #7EB8E3;
}

.sidebar-link:hover:not(.active) {
  background-color: #eef4fa;
  color: #7EB8E3;
  transition: all 0.2s ease-in-out;
}
.sidebar-link.active:hover {
  background-color: #eef4fa;
  color: #427ca8;
  transition: all 0.2s ease-in-out;
}

.sidebar-icon{
  margin-right: 15px;
}
.sidebar-text {
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.sidebar-link:hover {
  font-size: 1.3rem;
}
.about-link {
  padding-top: 30px;
  padding-bottom: 30px;
}
